/*Aula 8 - Projeto Cadastro - Integração com Banco de Dados(Firestore): CSS Modularizado*/
/* Aula 12 - Projeto Cadastro - Integração com Banco de Dados(Firestore): Componente Layout */


.roxo {
    height: 100%;
    background-color: #670bbd;
    color: #fff;
}

.roxo h1 {
    margin: 0;
}